# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Castle\Castle Alpha\Castle Alpha project\Shapes\.vs\
Castle Alpha/Castle Alpha project/Shapes/.vs/Shapes/v15/.suo
